body {
    font-family: sans serif;
}
/* first 4 sections are in charge of positioning,
 and outlining the links when hovering */
#top-left-float {

    float: left;
    margin-left: 1.4em;
    margin-right: 1.1em;
    
}

#top-left-float:hover {
    text-decoration: underline;
}

#top-right-float{
    float: right;
    margin-left: 1.4em;
    margin-right: 1.1em;
}
#top-right-float:hover {
    text-decoration: underline;
}

/* position the logo to the center */

#logo-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
}

#Search-bar-position {
    margin-top: 1.5em;
    width: 450px;
    height:1.8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #ccb5b5;
}

.div-button {
    display: flex;
    padding-top: 1.5em;
    justify-content: center;
}

.button-position{
    border-radius: 4px;
    background-color: #eee;
    padding: 13px 40px;
    margin-right: 15px;
    border: none;
    font-size: 14px;

}

*:focus {
    outline: none !important;
}


